fastapi
uvicorn
pandas
scikit-learn
joblib
numpy
requests
lxml_html_clean
facebook-scraper
google-api-python-client
neattext
flask
mlflow
seaborn
psycopg2
python-dotenv
sentry-sdk[flask]
flask-debugtoolbar